html {
    height: 100%;
    background-image: url(../img/desktop-pattern.png);
    background-size: 100% 100%;
    -o-background-size: 100% 100%;
    -webkit-background-size: 100% 100%;
    background-size: cover;
}
